<?xml version="1.0" encoding="UTF-8"?>
<types>
    <settings>
        <add_resized_images_to_library>0</add_resized_images_to_library>
        <register_translations_on_import>0</register_translations_on_import>
        <images_remote>0</images_remote>
        <images_remote_cache_time>36</images_remote_cache_time>
        <help_box>no</help_box>
        <hide_standard_custom_fields_metabox>hide</hide_standard_custom_fields_metabox>
        <postmeta_unfiltered_html>on</postmeta_unfiltered_html>
        <usermeta_unfiltered_html>on</usermeta_unfiltered_html>
        <toolset_messages>0</toolset_messages>
    </settings>
    <user_fields>
        <field>
            <id>status_membre</id>
            <name>Estat</name>
            <description></description>
            <type>checkboxes</type>
            <slug>status_membre</slug>
            <meta_key>wpcf-status_membre</meta_key>
            <data>
                <save_empty>no</save_empty>
                <options>
                    <wpcf-fields-checkboxes-option-ae884be87b60f946a7c51354b5ed001e-1>
                        <title>Actiu</title>
                        <set_value>1</set_value>
                        <display>db</display>
                        <display_value_not_selected>0</display_value_not_selected>
                        <display_value_selected>1</display_value_selected>
                    </wpcf-fields-checkboxes-option-ae884be87b60f946a7c51354b5ed001e-1>
                </options>
                <custom_use></custom_use>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_type>usermeta</meta_type>
            <__types_id>status_membre</__types_id>
            <__types_title>Estat</__types_title>
            <hash>40cd750bba9870f18aada2478b24840a</hash>
            <checksum>40cd750bba9870f18aada2478b24840a</checksum>
        </field>
        <field>
            <id>ubicacio</id>
            <name>Ubicació</name>
            <description>Introduïu ací el codi embed del mapa</description>
            <type>textarea</type>
            <slug>ubicacio</slug>
            <meta_key>wpcf-ubicacio</meta_key>
            <data>
                <placeholder></placeholder>
                <user_default_value></user_default_value>
                <repetitive>0</repetitive>
                <custom_use></custom_use>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_type>usermeta</meta_type>
            <__types_id>ubicacio</__types_id>
            <__types_title>Ubicació</__types_title>
            <hash>40cd750bba9870f18aada2478b24840a</hash>
            <checksum>40cd750bba9870f18aada2478b24840a</checksum>
        </field>
        <field>
            <id>descripcio_activitat</id>
            <name>Descripció de l\&#039;activitat de l\&#039;usuari</name>
            <description></description>
            <type>wysiwyg</type>
            <slug>descripcio_activitat</slug>
            <meta_key>wpcf-descripcio_activitat</meta_key>
            <data>
                <user_default_value></user_default_value>
                <custom_use></custom_use>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_type>usermeta</meta_type>
            <__types_id>descripcio_activitat</__types_id>
            <__types_title>Descripció de l\&#039;activitat de l\&#039;usuari</__types_title>
            <hash>40cd750bba9870f18aada2478b24840a</hash>
            <checksum>40cd750bba9870f18aada2478b24840a</checksum>
        </field>
        <field>
            <id>llocs_web</id>
            <name>Llocs web</name>
            <description>Llocs web de l\&#039;usuari</description>
            <type>url</type>
            <slug>llocs_web</slug>
            <meta_key>wpcf-llocs_web</meta_key>
            <data>
                <placeholder></placeholder>
                <user_default_value></user_default_value>
                <repetitive>1</repetitive>
                <validate>
                    <url>
                        <active>1</active>
                        <message>Please enter a valid URL address.</message>
                    </url>
                </validate>
                <custom_use></custom_use>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_type>usermeta</meta_type>
            <__types_id>llocs_web</__types_id>
            <__types_title>Llocs web</__types_title>
            <hash>40cd750bba9870f18aada2478b24840a</hash>
            <checksum>40cd750bba9870f18aada2478b24840a</checksum>
        </field>
    </user_fields>
    <types>
        <type>
            <_builtin></_builtin>
            <_toolset_edit_last>1460909766</_toolset_edit_last>
            <_wpcf_author_id>1</_wpcf_author_id>
            <__types_id>programa</__types_id>
            <__types_title>Programes</__types_title>
            <wpcf-post-type>programa</wpcf-post-type>
            <icon>share-alt</icon>
            <labels>
                <name>Programes</name>
                <singular_name>Programa</singular_name>
                <add_new>Afegeix</add_new>
                <add_new_item>Afegeix %s</add_new_item>
                <edit_item>Edita %s</edit_item>
                <new_item>%s nou</new_item>
                <view_item>Mostra el %s</view_item>
                <search_items>Cerca %s</search_items>
                <not_found>No s\&#039;ha trobat cap %s</not_found>
                <not_found_in_trash>No s\&#039;ha trobat cap %s a la paperera</not_found_in_trash>
                <parent_item_colon>Text del pare</parent_item_colon>
                <all_items>Tots els elements</all_items>
                <enter_title_here>Enter title here</enter_title_here>
            </labels>
            <slug>programa</slug>
            <description>Programa de la secció d\&#039;aplicacions del web</description>
            <public>public</public>
            <menu_position></menu_position>
            <taxonomies>
                <llicencia>1</llicencia>
                <sistema-operatiu-programa>1</sistema-operatiu-programa>
                <categoria-programa>1</categoria-programa>
                <classificacio>1</classificacio>
            </taxonomies>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <comments>1</comments>
                <revisions>1</revisions>
                <excerpt>1</excerpt>
                <thumbnail>1</thumbnail>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>custom</custom>
                <slug>programes</slug>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <has_archive_slug></has_archive_slug>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <rest_base></rest_base>
            <post_relationship>
                <belongs>
                    <projecte>1</projecte>
                </belongs>
                <has>
                    <credit>1</credit>
                </has>
            </post_relationship>
            <id>programa</id>
            <hash>114e4df6ca85a9c02f964bbcc1213e67</hash>
            <checksum>114e4df6ca85a9c02f964bbcc1213e67</checksum>
        </type>
        <type>
            <_builtin></_builtin>
            <_toolset_edit_last>1459951969</_toolset_edit_last>
            <_wpcf_author_id>2</_wpcf_author_id>
            <__types_id>projecte</__types_id>
            <__types_title>Projectes</__types_title>
            <wpcf-post-type>projecte</wpcf-post-type>
            <icon>media-default</icon>
            <labels>
                <name>Projectes</name>
                <singular_name>projecte</singular_name>
                <add_new>Afegeix un projecte nou</add_new>
                <add_new_item>Afegeix un nou %s</add_new_item>
                <edit_item>Edita el %s</edit_item>
                <new_item>%s nou</new_item>
                <view_item>Mostra el %s</view_item>
                <search_items>Cerca un %s</search_items>
                <not_found>No s\&#039;ha trobat cap %s</not_found>
                <not_found_in_trash>No s\&#039;ha trobat cap %s a la paperera</not_found_in_trash>
                <parent_item_colon>Text del pare</parent_item_colon>
                <all_items>Tots els elements</all_items>
                <enter_title_here>Introduïu el títol aquí</enter_title_here>
            </labels>
            <slug>projecte</slug>
            <description>Projectes de Softcatalà</description>
            <public>public</public>
            <menu_position></menu_position>
            <taxonomies>
                <categoria_projecte>1</categoria_projecte>
                <ajuda-projectea>1</ajuda-projectea>
                <ajuda-projecte>1</ajuda-projecte>
                <classificacio>1</classificacio>
            </taxonomies>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <revisions>1</revisions>
                <excerpt>1</excerpt>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>custom</custom>
                <slug>projectes</slug>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <has_archive_slug></has_archive_slug>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <rest_base></rest_base>
            <post_relationship>
                <has>
                    <programa>1</programa>
                </has>
            </post_relationship>
            <id>projecte</id>
            <hash>558881dec60eb2ad62711f80de410283</hash>
            <checksum>558881dec60eb2ad62711f80de410283</checksum>
        </type>
    </types>
    <post_relationships>
        <data>{&quot;post&quot;:[],&quot;page&quot;:{&quot;link&quot;:[],&quot;credit&quot;:[]},&quot;esdeveniment&quot;:{&quot;link&quot;:[]},&quot;programa&quot;:{&quot;credit&quot;:[]},&quot;projecte&quot;:{&quot;programa&quot;:[]}}</data>
    </post_relationships>
    <taxonomies>
        <taxonomy>
            <labels>
                <name>Categories</name>
                <singular_name>Categoria</singular_name>
                <search_items>Cerca categories</search_items>
                <popular_items></popular_items>
                <all_items>Totes les categories</all_items>
                <parent_item>Categoria pare</parent_item>
                <parent_item_colon>Categoria pare:</parent_item_colon>
                <edit_item>Edita la categoria</edit_item>
                <view_item>Mostra la categoria</view_item>
                <update_item>Actualitza la categoria</update_item>
                <add_new_item>Afegeix</add_new_item>
                <new_item_name>Nou nom de categoria</new_item_name>
                <separate_items_with_commas></separate_items_with_commas>
                <add_or_remove_items></add_or_remove_items>
                <choose_from_most_used></choose_from_most_used>
                <not_found>No s&#039;han trobat categories.</not_found>
                <no_terms>No hi ha categories</no_terms>
                <items_list_navigation>Navegació per la llista de categories.</items_list_navigation>
                <items_list>Llista de categories</items_list>
                <menu_name>Categories</menu_name>
                <name_admin_bar>category</name_admin_bar>
            </labels>
            <description></description>
            <public>1</public>
            <hierarchical>1</hierarchical>
            <show_ui>1</show_ui>
            <show_in_menu>1</show_in_menu>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <show_in_quick_edit>1</show_in_quick_edit>
            <show_admin_column>1</show_admin_column>
            <meta_box_cb>post_categories_meta_box</meta_box_cb>
            <rewrite>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
                <ep_mask>512</ep_mask>
                <slug>category</slug>
            </rewrite>
            <query_var>category_name</query_var>
            <update_count_callback></update_count_callback>
            <_builtin>1</_builtin>
            <cap>
                <manage_terms>manage_categories</manage_terms>
                <edit_terms>manage_categories</edit_terms>
                <delete_terms>manage_categories</delete_terms>
                <assign_terms>edit_posts</assign_terms>
            </cap>
            <name>category</name>
            <label>Categories</label>
            <slug>category</slug>
            <supports>
                <__types_cpt_supports_post>1</__types_cpt_supports_post>
            </supports>
            <id>category</id>
            <__types_id>category</__types_id>
            <__types_title>Categories</__types_title>
            <checksum>9daa54e3db3c420361e05d14fe3c80c2</checksum>
        </taxonomy>
        <taxonomy>
            <labels>
                <name>Etiquetes</name>
                <singular_name>Etiqueta</singular_name>
                <search_items>Cerca etiquetes</search_items>
                <popular_items>Etiquetes més comunes</popular_items>
                <all_items>Totes les etiquetes</all_items>
                <parent_item></parent_item>
                <parent_item_colon></parent_item_colon>
                <edit_item>Edita l&#039;etiqueta</edit_item>
                <view_item>Mostra l&#039;etiqueta</view_item>
                <update_item>Actualitza l&#039;etiqueta</update_item>
                <add_new_item>Afegeix una etiqueta nova</add_new_item>
                <new_item_name>Nou nom d&#039;etiqueta</new_item_name>
                <separate_items_with_commas>Separa les etiquetes amb comes</separate_items_with_commas>
                <add_or_remove_items>Afegeix o suprimeix etiquetes</add_or_remove_items>
                <choose_from_most_used>Trieu una de les etiquetes més usades</choose_from_most_used>
                <not_found>No s&#039;han trobat etiquetes.</not_found>
                <no_terms>Cap etiqueta</no_terms>
                <items_list_navigation>Navegació per la llista d&#039;etiquetes</items_list_navigation>
                <items_list>Llista d&#039;etiquetes</items_list>
                <menu_name>Etiquetes</menu_name>
                <name_admin_bar>post_tag</name_admin_bar>
            </labels>
            <description></description>
            <public>1</public>
            <hierarchical></hierarchical>
            <show_ui>1</show_ui>
            <show_in_menu>1</show_in_menu>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <show_in_quick_edit>1</show_in_quick_edit>
            <show_admin_column>1</show_admin_column>
            <meta_box_cb>post_tags_meta_box</meta_box_cb>
            <rewrite>
                <with_front>1</with_front>
                <hierarchical></hierarchical>
                <ep_mask>1024</ep_mask>
                <slug>tag</slug>
            </rewrite>
            <query_var>tag</query_var>
            <update_count_callback></update_count_callback>
            <_builtin>1</_builtin>
            <cap>
                <manage_terms>manage_categories</manage_terms>
                <edit_terms>manage_categories</edit_terms>
                <delete_terms>manage_categories</delete_terms>
                <assign_terms>edit_posts</assign_terms>
            </cap>
            <name>post_tag</name>
            <label>Etiquetes</label>
            <slug>post_tag</slug>
            <supports>
                <__types_cpt_supports_post>1</__types_cpt_supports_post>
            </supports>
            <id>post_tag</id>
            <__types_id>post_tag</__types_id>
            <__types_title>Etiquetes</__types_title>
            <checksum>4b4c5a804f322a315ead60e5ddebc443</checksum>
        </taxonomy>
        <taxonomy>
            <wpcf-tax>llicencia</wpcf-tax>
            <icon>admin-post</icon>
            <labels>
                <name>Llicències</name>
                <singular_name>Llicència</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>llicencia</slug>
            <description>Llicències relacionades amb programari</description>
            <public>public</public>
            <hierarchical>hierarchical</hierarchical>
            <supports>
                <__types_cpt_supports_programa>1</__types_cpt_supports_programa>
            </supports>
            <rewrite>
                <slug></slug>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <meta_box_cb>
                <callback></callback>
            </meta_box_cb>
            <_toolset_edit_last>1457708273</_toolset_edit_last>
            <_wpcf_author_id>1</_wpcf_author_id>
            <name></name>
            <id>llicencia</id>
            <__types_id>llicencia</__types_id>
            <__types_title>Llicències</__types_title>
            <checksum>aae65f347a81fefe1e01792cb247071b</checksum>
        </taxonomy>
        <taxonomy>
            <wpcf-tax>sistema-operatiu-programa</wpcf-tax>
            <icon>admin-post</icon>
            <labels>
                <name>Sistemes Operatius (rebost)</name>
                <singular_name>Sistema Operatiu (rebost)</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>sistema-operatiu-programa</slug>
            <description>Sistemes operatius relacionats amb programes</description>
            <public>public</public>
            <hierarchical>hierarchical</hierarchical>
            <supports>
                <__types_cpt_supports_baixada>1</__types_cpt_supports_baixada>
                <__types_cpt_supports_programa>1</__types_cpt_supports_programa>
            </supports>
            <rewrite>
                <slug></slug>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <meta_box_cb>
                <callback></callback>
            </meta_box_cb>
            <_toolset_edit_last>1459586469</_toolset_edit_last>
            <_wpcf_author_id>1</_wpcf_author_id>
            <name></name>
            <id>sistema-operatiu-programa</id>
            <__types_id>sistema-operatiu-programa</__types_id>
            <__types_title>Sistemes Operatius (rebost)</__types_title>
            <checksum>88dcb5a65e276def9c9104aa88401086</checksum>
        </taxonomy>
        <taxonomy>
            <wpcf-tax>categoria-programa</wpcf-tax>
            <icon>admin-post</icon>
            <labels>
                <name>Categories programes</name>
                <singular_name>Categoria programa</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>categoria-programa</slug>
            <description></description>
            <public>public</public>
            <hierarchical>hierarchical</hierarchical>
            <supports>
                <__types_cpt_supports_programa>1</__types_cpt_supports_programa>
            </supports>
            <rewrite>
                <slug>/programes/cat</slug>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <meta_box_cb>
                <callback></callback>
            </meta_box_cb>
            <_toolset_edit_last>1457708122</_toolset_edit_last>
            <_wpcf_author_id>1</_wpcf_author_id>
            <name></name>
            <id>categoria-programa</id>
            <__types_id>categoria-programa</__types_id>
            <__types_title>Categories programes</__types_title>
            <checksum>a20f42422f0088516f9f92e04511697c</checksum>
        </taxonomy>
        <taxonomy>
            <wpcf-tax>categoria_projecte</wpcf-tax>
            <icon>admin-post</icon>
            <labels>
                <name>Categories projectes</name>
                <singular_name>Categoria projecte</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>categoria_projecte</slug>
            <description></description>
            <public>public</public>
            <hierarchical>hierarchical</hierarchical>
            <supports>
                <__types_cpt_supports_projecte>1</__types_cpt_supports_projecte>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <slug>en-que-treballem</slug>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <meta_box_cb>
                <callback></callback>
            </meta_box_cb>
            <_toolset_edit_last>1498688858</_toolset_edit_last>
            <_wpcf_author_id>1</_wpcf_author_id>
            <name></name>
            <id>categoria_projecte</id>
            <__types_id>categoria_projecte</__types_id>
            <__types_title>Categories projectes</__types_title>
            <checksum>bd78e55cd62a063cf84dd3e6e18b1596</checksum>
        </taxonomy>
        <taxonomy>
            <wpcf-tax>ajuda-projectea</wpcf-tax>
            <icon>admin-post</icon>
            <labels>
                <name>Ajuda projectes</name>
                <singular_name>Ajuda projecte</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>ajuda-projecte</slug>
            <description></description>
            <public>public</public>
            <hierarchical>hierarchical</hierarchical>
            <supports>
                <__types_cpt_supports_projecte>1</__types_cpt_supports_projecte>
            </supports>
            <rewrite>
                <slug></slug>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <meta_box_cb>
                <callback></callback>
            </meta_box_cb>
            <_toolset_edit_last>1498688858</_toolset_edit_last>
            <_wpcf_author_id>1</_wpcf_author_id>
            <name></name>
            <id>ajuda-projecte</id>
            <__types_id>ajuda-projecte</__types_id>
            <__types_title>Ajuda projectes</__types_title>
            <checksum>fc913794ae018680b2a7da0044f35f40</checksum>
        </taxonomy>
        <taxonomy>
            <icon>admin-post</icon>
            <labels>
                <name>Classificació</name>
                <singular_name>Classificació</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>classificacio</slug>
            <description></description>
            <public>public</public>
            <hierarchical>hierarchical</hierarchical>
            <supports>
                <__types_cpt_supports_programa>1</__types_cpt_supports_programa>
                <__types_cpt_supports_projecte>1</__types_cpt_supports_projecte>
            </supports>
            <rewrite>
                <slug></slug>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <meta_box_cb>
                <callback></callback>
            </meta_box_cb>
            <_toolset_edit_last>1498688858</_toolset_edit_last>
            <_wpcf_author_id>1</_wpcf_author_id>
            <name></name>
            <id>classificacio</id>
            <__types_id>classificacio</__types_id>
            <__types_title>Classificació</__types_title>
            <checksum>35d8b6d31c78337be557a3da0c85fa02</checksum>
        </taxonomy>
    </taxonomies>
</types>