<?xml version="1.0" encoding="UTF-8"?>
<types>
    <settings>
        <add_resized_images_to_library>0</add_resized_images_to_library>
        <register_translations_on_import>0</register_translations_on_import>
        <images_remote>0</images_remote>
        <images_remote_cache_time>36</images_remote_cache_time>
        <help_box>no</help_box>
        <hide_standard_custom_fields_metabox>hide</hide_standard_custom_fields_metabox>
        <postmeta_unfiltered_html>on</postmeta_unfiltered_html>
        <usermeta_unfiltered_html>on</usermeta_unfiltered_html>
        <toolset_messages>0</toolset_messages>
    </settings>
    <post_relationships>
        <data>{&quot;post&quot;:[],&quot;page&quot;:[],&quot;esdeveniment&quot;:[],&quot;programa&quot;:[],&quot;projecte&quot;:[]}</data>
    </post_relationships>
    <taxonomies>
        <taxonomy>
            <labels>
                <name>Categories</name>
                <singular_name>Categoria</singular_name>
                <search_items>Cerca categories</search_items>
                <popular_items></popular_items>
                <all_items>Totes les categories</all_items>
                <parent_item>Categoria pare</parent_item>
                <parent_item_colon>Categoria pare:</parent_item_colon>
                <edit_item>Edita la categoria</edit_item>
                <view_item>Mostra la categoria</view_item>
                <update_item>Actualitza la categoria</update_item>
                <add_new_item>Afegeix</add_new_item>
                <new_item_name>Nou nom de categoria</new_item_name>
                <separate_items_with_commas></separate_items_with_commas>
                <add_or_remove_items></add_or_remove_items>
                <choose_from_most_used></choose_from_most_used>
                <not_found>No s&#039;han trobat categories.</not_found>
                <no_terms>No hi ha categories</no_terms>
                <items_list_navigation>Navegació per la llista de categories.</items_list_navigation>
                <items_list>Llista de categories</items_list>
                <menu_name>Categories</menu_name>
                <name_admin_bar>category</name_admin_bar>
            </labels>
            <description></description>
            <public>1</public>
            <hierarchical>1</hierarchical>
            <show_ui>1</show_ui>
            <show_in_menu>1</show_in_menu>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <show_in_quick_edit>1</show_in_quick_edit>
            <show_admin_column>1</show_admin_column>
            <meta_box_cb>post_categories_meta_box</meta_box_cb>
            <rewrite>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
                <ep_mask>512</ep_mask>
                <slug>category</slug>
            </rewrite>
            <query_var>category_name</query_var>
            <update_count_callback></update_count_callback>
            <_builtin>1</_builtin>
            <cap>
                <manage_terms>manage_categories</manage_terms>
                <edit_terms>manage_categories</edit_terms>
                <delete_terms>manage_categories</delete_terms>
                <assign_terms>edit_posts</assign_terms>
            </cap>
            <name>category</name>
            <label>Categories</label>
            <slug>category</slug>
            <supports>
                <__types_cpt_supports_post>1</__types_cpt_supports_post>
            </supports>
            <id>category</id>
            <__types_id>category</__types_id>
            <__types_title>Categories</__types_title>
            <checksum>9daa54e3db3c420361e05d14fe3c80c2</checksum>
        </taxonomy>
        <taxonomy>
            <labels>
                <name>Etiquetes</name>
                <singular_name>Etiqueta</singular_name>
                <search_items>Cerca etiquetes</search_items>
                <popular_items>Etiquetes més comunes</popular_items>
                <all_items>Totes les etiquetes</all_items>
                <parent_item></parent_item>
                <parent_item_colon></parent_item_colon>
                <edit_item>Edita l&#039;etiqueta</edit_item>
                <view_item>Mostra l&#039;etiqueta</view_item>
                <update_item>Actualitza l&#039;etiqueta</update_item>
                <add_new_item>Afegeix una etiqueta nova</add_new_item>
                <new_item_name>Nou nom d&#039;etiqueta</new_item_name>
                <separate_items_with_commas>Separa les etiquetes amb comes</separate_items_with_commas>
                <add_or_remove_items>Afegeix o suprimeix etiquetes</add_or_remove_items>
                <choose_from_most_used>Trieu una de les etiquetes més usades</choose_from_most_used>
                <not_found>No s&#039;han trobat etiquetes.</not_found>
                <no_terms>Cap etiqueta</no_terms>
                <items_list_navigation>Navegació per la llista d&#039;etiquetes</items_list_navigation>
                <items_list>Llista d&#039;etiquetes</items_list>
                <menu_name>Etiquetes</menu_name>
                <name_admin_bar>post_tag</name_admin_bar>
            </labels>
            <description></description>
            <public>1</public>
            <hierarchical></hierarchical>
            <show_ui>1</show_ui>
            <show_in_menu>1</show_in_menu>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <show_in_quick_edit>1</show_in_quick_edit>
            <show_admin_column>1</show_admin_column>
            <meta_box_cb>post_tags_meta_box</meta_box_cb>
            <rewrite>
                <with_front>1</with_front>
                <hierarchical></hierarchical>
                <ep_mask>1024</ep_mask>
                <slug>tag</slug>
            </rewrite>
            <query_var>tag</query_var>
            <update_count_callback></update_count_callback>
            <_builtin>1</_builtin>
            <cap>
                <manage_terms>manage_categories</manage_terms>
                <edit_terms>manage_categories</edit_terms>
                <delete_terms>manage_categories</delete_terms>
                <assign_terms>edit_posts</assign_terms>
            </cap>
            <name>post_tag</name>
            <label>Etiquetes</label>
            <slug>post_tag</slug>
            <supports>
                <__types_cpt_supports_post>1</__types_cpt_supports_post>
            </supports>
            <id>post_tag</id>
            <__types_id>post_tag</__types_id>
            <__types_title>Etiquetes</__types_title>
            <checksum>4b4c5a804f322a315ead60e5ddebc443</checksum>
        </taxonomy>
    </taxonomies>
</types>